<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd 
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd 
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">

    <mvc:annotation-driven/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <context:component-scan base-package="com.fly.*">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <task:annotation-driven />

    <context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>

    <!-- redis 配置 -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="minIdle" value="${redis.minIdle}"/>
        <property name="maxWaitMillis" value="${redis.maxWait}"/>
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>

    <!--rabbitMq配置-->

    <rabbit:connection-factory id="rabbitMqConnectionFactory"
                               host="${rabbitMq.url}"
                               username="${rabbitMq.username}"
                               password="${rabbitMq.password}"
                               port="${rabbitMq.port}"
    />

    <rabbit:admin connection-factory="rabbitMqConnectionFactory"/>

    <!--声明mq模板,定义消息生产者-->

    <rabbit:template id="amqpTemplate"
                     exchange="mq_exchange"
                     connection-factory="rabbitMqConnectionFactory"
                     message-converter="jsonMessageConverter"
    />

    <bean id="jsonMessageConverter" class="com.fly.service.rabbit.GsonJsonMessageConverter"/>

    <!--声明队列-->
    <rabbit:queue name="message_queue" durable="true" auto-delete="false" exclusive="false"/>

    <!--注册交换机-->
    <rabbit:topic-exchange name="mq_exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="message_queue" pattern="mq_url"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--配置消费者-->
    <bean id="messageCustomer" class="com.fly.service.rabbit.Customer"/>

    <!--配置监听 监听队列中是否有新的消息-->
    <rabbit:listener-container connection-factory="rabbitMqConnectionFactory"
                               message-converter="jsonMessageConverter"
                               acknowledge="auto">
        <rabbit:listener
                ref="messageCustomer"
                queues="message_queue"
                method="onMessage"
        />
    </rabbit:listener-container>


    <!-- redis服务器中心 -->
    <bean id="connectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="poolConfig" ref="poolConfig"/>
        <property name="port" value="${redis.port}"/>
        <property name="hostName" value="${redis.host}"/>
        <property name="password" value="${redis.pass}"/>
        <property name="timeout" value="${redis.timeout}"/>
    </bean>

    <!--注入到自定义缓存-->
    <bean id="redisCacheTransfer" class="com.fly.util.cache.RedisCacheTransfer">
        <property name="jedisConnectionFactory" ref="connectionFactory"/>
    </bean>


    <!-- redis操作模板，面向对象的模板 -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <!-- 如果不配置Serializer，那么存储的时候只能使用String，如果用对象类型存储，那么会提示错误 -->
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
        </property>
    </bean>


    <!--配置mysql数据源-->
    <bean id="mysqlDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.mysql.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.mysql.jdbcUrl}"/>
        <property name="user" value="${jdbc.mysql.user_name}"/>
        <property name="password" value="${jdbc.mysql.password}"/>
    </bean>

    <!--配置oracle数据源-->
    <bean id="oracleDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.oracle.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.oracle.jdbcUrl}"/>
        <property name="user" value="${jdbc.oracle.user_name}"/>
        <property name="password" value="${jdbc.oracle.password}"/>
    </bean>

    <!--数据源统一管理,并且为每一个数据源命名-->
    <bean id="dateSourceUtils" class="com.fly.util.data.DateSourceUtils">

        <property name="defaultTargetDataSource" ref="mysqlDataSource"/>
        <property name="targetDataSources">
            <map>
                <entry key="mysql" value-ref="mysqlDataSource"/>
                <entry key="oracle" value-ref="oracleDataSource"/>
            </map>
        </property>
    </bean>


    <!--配置mybatis-->

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dateSourceUtils"/>
        <property name="configLocation" value="classpath:mybatis_config.xml"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:mapper/mysql/*.xml</value>
                <value>classpath:mapper/oracle/*.xml</value>
            </list>
        </property>
    </bean>

    <!--dao接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.fly.dao"/>
    </bean>

    <!--mysql事务管理-->
    <bean id="mySql_transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="mysqlDataSource"/>
    </bean>

    <!--oracle事务管理-->
    <bean id="oracle_transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="oracleDataSource"/>
    </bean>

    <aop:config>
        <aop:pointcut id="mysql_txPoint" expression="execution(* com.fly.service.mysql..*(..))"/>
        <aop:advisor advice-ref="mysql_txAdvice" pointcut-ref="mysql_txPoint" order="30"/>
    </aop:config>

    <aop:config>
        <aop:pointcut id="oracle_txPoint" expression="execution(* com.fly.service.oracle..*(..))"/>
        <aop:advisor advice-ref="oracle_txAdvice" pointcut-ref="oracle_txPoint" order="30"/>
    </aop:config>

    <tx:advice id="oracle_txAdvice" transaction-manager="oracle_transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="select*" read-only="true"/>
            <tx:method name="query*" read-only="true"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>


    <tx:advice id="mysql_txAdvice" transaction-manager="mySql_transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="select*" read-only="true"/>
            <tx:method name="query*" read-only="true"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>


    <!--开启文件上传-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1024000000"/>
        <property name="maxInMemorySize" value="40960"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!--发送邮件-->
    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <!--邮箱服务器-->
        <property name="host" value="smtp.qq.com"/>
        <!--发送方式-->
        <property name="protocol" value="smtp"/>
        <!--发送邮箱使用的端口-->
        <property name="port" value="587"/>
        <!--发件人邮箱-->
        <property name="username" value="1779905848@qq.com"/>
        <!--必须获得QQ邮箱授权码-->
        <!--umvdkzwsfaopccga-->
        <property name="password" value="umvdkzwsfaopccga"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <!--等待时间-->
                <prop key="mail.smtp.timeout">25000</prop>
            </props>
        </property>
    </bean>

    <!--<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->

    <!--<property name="exceptionMappings">-->
    <!--<props>-->
    <!--<prop key="java.lang.Exception">redirect:/404.html</prop>-->
    <!--<prop key="com.fly.util.exception.NoPermissionException">redirect:/login.html</prop>-->
    <!--</props>-->
    <!--</property>-->

    <!--</bean>-->


</beans>