<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config />

    <context:component-scan base-package="com.fly.view" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!--将mvc无法处理的请求交给tomcat-->
    <mvc:default-servlet-handler/>

    <!-- 配置SpringMVC的视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--返回JSON数据-->
    <mvc:annotation-driven>
        <mvc:message-converters>

            <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>text/plain;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
                <!--日期格式处理-->
                <property name="gson">
                    <bean class="org.springframework.http.converter.json.GsonFactoryBean">
                        <property name="serializeNulls" value="true"/>
                        <property name="disableHtmlEscaping" value="true"/>
                        <property name="dateFormatPattern" value="yyyy-MM-dd HH:mm:ss" />
                    </bean>
                </property>
            </bean>
            <!--前端发送JSON数据,后台自动解析封装-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>

        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:resources location="/js/" mapping="/js/**"/>
    <!--拦截器配置-->

    <mvc:interceptors>
        <!--<bean class="com.fly.auth.LoginInterceptor"/>-->
        <bean class="com.fly.auth.EncodingInterceptor"/>
    </mvc:interceptors>

</beans>